<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />pdateupd
    <title>Aljaar: Share More, Waste Less</title>
    <meta name="dicoding:email" content="ryandevstudio@gmail.com">

    <link rel="preconnect" href="https://unpkg.com">
    <link rel="preconnect" href="https://fontbit.io">
    <link rel="preconnect" href="https://api.iconify.design">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap" rel="preload" as="style" onload="this.rel='stylesheet'">
    <link href="https://unpkg.com/file-upload-with-preview@5.0.8/dist/file-upload-with-preview.min.css" rel="preload" as="style" onload="this.rel='stylesheet'">
    <link href="https://unpkg.com/choices.js@10.2.0/public/assets/styles/choices.min.css" rel="preload" as="style" onload="this.rel='stylesheet'">
    <link href="https://unpkg.com/@mapbox/mapbox-gl-geocoder@5.0.1/dist/mapbox-gl-geocoder.css" rel="preload" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" type="image" href="images/loading.gif">
  </head>
  <body>
    <section id="app" class="my-0 mx-auto min-h-full max-w-screen-sm">
      <header class="w-full fixed left-0 right-0 top-0 z-10">
        <div id="header-content">
          <a href="" class="header-logo">
            <!-- <iconify-icon class="p-2 bg-white text-emerald-600 rounded-full text-xl" icon="mdi:home-group"></iconify-icon>
             -->
            <!-- <h1 class="text-xl font-semibold text-white">Aljaar</h1>  -->
          </a>
        </div>
      </header>
      <main id="main-page">
        <section id="main-content">

        </section>

        <navigation-navbar></navigation-navbar>
      </main>
    </section>

    <footer>
      <!-- Navigation Navbar -->
    </footer>
  </body>
</html>
