<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aljaar</title>
  </head>
  <body>
    <main class="my-0 mx-auto min-h-full max-w-screen-sm">
      <header class="w-full fixed left-0 right-0 top-0 z-10 bg-emerald-400">
        <div class="header-content">
          <a href="" class="header-logo">
            <!-- <img src="" alt=""> -->
            <iconify-icon class="p-2 bg-white text-emerald-600 rounded-full text-xl" icon="ri:user-heart-line"></iconify-icon>
          </a>
        </div>
      </header>
      <main id="main-page">
        <section id="main-content">

        </section>

        <navigation-navbar></navigation-navbar>
      </main>
    </main>

    <footer>
      <!-- Navigation Navbar -->
    </footer>
  </body>
</html>
