<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aljaar</title>
    <link rel="preload" type="image" href="images/loading.gif">
  </head>
  <body>
    <section id="app" class="my-0 mx-auto min-h-full max-w-screen-sm">
      <header class="w-full fixed left-0 right-0 top-0 z-10">
        <div id="header-content">
          <a href="" class="header-logo">
            <!-- <iconify-icon class="p-2 bg-white text-emerald-600 rounded-full text-xl" icon="mdi:home-group"></iconify-icon>
             -->
            <h1 class="text-xl font-semibold text-white">Aljaar</h1> 
          </a>
        </div>
      </header>
      <main id="main-page">
        <section id="main-content">

        </section>

        <navigation-navbar></navigation-navbar>
      </main>
    </section>

    <footer>
      <!-- Navigation Navbar -->
    </footer>
  </body>
</html>
