@import url('https://fontbit.io/css2?family=Outfit:wght@400;500;600;700&display=swap');

body {
  background-color: #f7f7f7;
}
header {
  @apply bg-green-600;
}
header.with-back {
  @apply bg-gray-50 shadow-md;
}
header #header-content {
  max-width: 480px;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0px auto;
  height: 60px;
}
header:not(.with-back) .header-logo {
  width: auto;
  height: 33px;
}
header .header-logo iconify-icon {
  margin-left: 1rem;
}


#main-page {
  background-color: white;
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
  top: 60px;
  min-height: calc(100vh - 60px);
}
#main-content {
  height: calc(100vh - (70px + 60px));
  overflow-y: auto;
}
#main-content .choices__list--dropdown, .choices__list[aria-expanded] {
  z-index: 6;
}
#main-content .custom-file-container .image-preview {
  height: 116px;
}

.shadow-mdl {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-pink {
  @apply text-sm rounded-md p-2 bg-pink-50 border border-pink-600 text-pink-600;
}
.form-control {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5;
}
.form-control:disabled {
  @apply bg-gray-200 text-gray-600;
}
.form-control-label {
  @apply block mb-2 text-sm font-semibold text-green-900;
}
.notyf .notyf-loading {
  @apply rounded-md border bg-green-100 sm:border-green-600 text-green-800;
}

#main-content .custom-file-container label {
  @apply block mb-2 text-sm font-semibold text-emerald-900;
}

#main-content .choices__inner {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2 pb-1;
}
#main-content .is-open .choices__inner {
  @apply rounded-t-lg rounded-b-none;
}
#main-content .choices__list--multiple .choices__item {
  @apply bg-emerald-50 text-emerald-700 border-emerald-700;
}
#main-content .choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cg fill='%23047857' fill-rule='evenodd'%3E%3Cpath d='M2.592.044l18.364 18.364-2.548 2.548L.044 2.592z'/%3E%3Cpath d='M0 18.364L18.364 0l2.548 2.548L2.548 20.912z'/%3E%3C/g%3E%3C/svg%3E");
}

.sheet-modal {
  position: absolute;
  left: 0;
  bottom: 70px;
  width: 100%;
  height: 200px;
  display: none;
  box-sizing: border-box;
  transition-duration: 300ms;
  transition-property: transform;
  transform: translate3d(0, 100%, 0);
  z-index: 2;
  will-change: transform,opacity;
  @apply rounded-t-lg;
}
.sheet-modal.active {
  display: block;
  transform: translate3d(0,0,0);
}

navigation-navbar {
  list-style-type: none;
  display: inline-block;
  font-weight: 600;
  line-height: 13px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 100%;
  max-width: 480px;
  position: sticky;
  bottom: 0px;
  /*left: 50%;
  transform: translate(-50%);*/
  z-index: 10;
  padding: 10px;
  font-size: 1em;
  margin: 0px;
  background-color: rgb(255, 255, 255);

  @apply border-t border-t-gray-300;
}
navigation-navbar .menu-item {
  display: inline-block;
  width: calc(20% - 6px);
  font-size: 11px;
  cursor: pointer;
}
navigation-navbar .menu-item .menu-item--icon {
  position: relative;
  padding-top: 4px;
  margin-bottom: 4px;
}
navigation-navbar .menu-item .menu-item--icon iconify-icon {
  display: inline-block;
  font-size: 24px;
}
navigation-navbar .menu-item .menu-item--text {
  white-space: nowrap;
  display: inline-block;
}
navigation-navbar .menu-item:not(.active) {
  @apply text-gray-600;
}
navigation-navbar .menu-item.active {
  @apply text-emerald-600;
}
